<!DOCTYPE html>
<html>
  <head>
    <title>CHINGU - Join A Cohort Today!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CHINGU</h1>
    <p>FCC Cohorts</p>
  </body>
</html>
