@import '../materialize-src/sass/materialize.scss';



$primary-white: #F5F5F5;
$primary-blue: #0288d1;
$primary-teal: #00bfa5;
$primary-red: #e64a19;
$primary-black: #424242;

a,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.badge,
.subtitle {
    color: $primary-white;
    background-color: $primary-teal;
    text-align: center;
}

.subtitle {
    font-style: italic;
    display: inline;
    padding: 0.2em 1em;
    z-index: 0;
    position: absolute;
    top: 2.5em;
    left: 8.5em;
}

.badge {
    border-radius: 50%;
    height: 4.6em;
    width: 4.6em;
    margin-bottom: -1.5em;
    margin-top: 0.4em;
}

.badge span {
    height: 4.6em;
    display: inline-block;
    vertical-align: middle;
}

.badge h1 {
    display: inline-block;
    vertical-align: middle;
}

.header-text {
    color: $primary-white;
    background-color: $primary-blue;
    font-size: 1.1em;
    margin: 1em 0;
}

.aboutSection h2{
  font-size: 3em;
  padding: 1em;
}

.aboutSection .aboutText{
  padding-bottom: 2em;
}

.aboutSection .row{
    margin-bottom: 0;
}

.cohortSection h2{
  font-size: 3em;
  padding: 1em;
}

.cohort{
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: auto;
  border-radius: 3em;
}

.cohort img{
  width: 10em;
  border-radius: 10em;
  border: 1px solid $primary-white;
}

.cohortLeft{
  float:left;

}

.cohortRight{
  float: right;

}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 1.4em;
}

.blueBackground {
  @extend .light-blue, .darken-2;
  color: $primary-white;
}

.whiteBackground {
  @extend .grey, .lighten-4;
}

.greenBackground{
  @extend .teal, .accent-4;
}
