@import '../materialize-src/sass/materialize.scss';
/* materialize is imported here so we can extend the presets, see the bottom of the page for an example of that */
$primary-white: #F5F5F5;
$primary-blue: #0288d1;
$primary-teal: #00bfa5;
$primary-red: #e64a19;
$primary-black: #424242;
$footer-blue: #1B3B55;
/* These mixins are for CSS breakpoints, to make our website look good at all sizes and be responsive, a mixin is essentially a variable in CSS, so we dont have to type this stuff over and over, we can just reference the mixin name  */
@mixin for-phone-only {
     @media (max-width: 600px){
        @content;
    }
}
@mixin for-tablet-portrait-up {
     @media (min-width: 600px){
        @content;
    }
}
@mixin for-tablet-portait-only {
     @media (min-width: 600px) and (max-width: 899px){
        @content;
    }
}
@mixin for-tablet-landscape-up {
     @media (min-width: 900px){
        @content;
    }
}
@mixin for-tablet-landscape-only {
     @media (min-width: 900px) and (max-width: 1199px){
        @content;
    }
}
@mixin for-desktop-up {
     @media (min-width: 1200px){
        @content;
    }
}
@mixin for-desktop-only {
     @media (min-width: 1200px) and (max-width: 1799px){
        @content;
    }
}
@mixin for-big-desktop-up {
     @media (min-width: 1800px){
        @content;
    }
}

a,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-size: 100%;
}


h1 {
	@include for-phone-only {
		font-size: 2.2em;
	}
	@include for-tablet-portrait-up {
		font-size: 2.5em;
	}
	@include for-tablet-landscape-up {	
		font-size: 2.8em;
	}
}

h2 {
	@include for-phone-only {
		font-size: 2.6em;
		padding: 1em 0;
	}
	@include for-tablet-portrait-up {
		font-size: 2.8em;
		padding: 1em 0;
	}
	@include for-tablet-landscape-up {	
		font-size: 3em;
		padding: 1em 0;
	}
}

.header h2 {
	@include for-phone-only {
		font-size: 1.1em;
		padding: 0;
	}
	@include for-tablet-portrait-up {
		font-size: 1.2em;
		padding: 0;
	}
	@include for-tablet-landscape-up {	
		font-size: 1.4em;
		padding: 0;
	}
}


.row {
    margin-bottom: 0;
}

.badge,
.subtitle {
    color: $primary-white;
    background-color: $primary-teal;
    text-align: center;
}

.subtitle {
    font-style: italic;
    display: inline;
    padding: 0.2em 1em;
    z-index: 0;
    position: absolute;
    top: 2.5em;
    left: 8.5em;
}

.badge {
    border-radius: 50%;
    height: 4.6em;
    width: 4.6em;
    margin-bottom: -1.5em;
    margin-top: 0.4em;
}

.badge span {
    height: 4.6em;
    display: inline-block;
    vertical-align: middle;
}

.badge h1 {
    display: inline-block;
    vertical-align: middle;
}

.header-nav {
    color: $primary-white;
    background-color: $primary-blue;
    // font-size: 1.1em;
    @include for-phone-only {
        display: none;
    }
    @include for-tablet-landscape-up {
        margin-top: 4em;
    }
}

.header-text {
	font-weight: 900;
	font-size: 150%;
	text-align :center;
}

.header-nav ul {
    float: right;
    @include for-tablet-portrait-up {
        display: block;
    }
    @include for-tablet-landscape-up {
        display: inline-flex;
    }
}

.header-nav ul li {
    @include for-tablet-portrait-up {
      font-size: 0.8em;
        margin: 0.5em 0;
    }
    @include for-tablet-landscape-up {
      font-size: 1.1em;
        margin: 0 0.5em;
    }
}

#join {
	bottom: 50%;
	left: 50%;
	-webkit-transform: translate( -50%, 50% );
	-moz-transform: translate( -50%, 50% );
	-ms-transform: translate( -50%, 50% );
	-o-transform: translate( -50%, 50% );
	transform: translate( -50%, 50% );
}


.aboutSection .aboutText {
    padding-bottom: 2em;
    font-size: 1.2em;
}

.cohort {
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: auto;
    border-radius: 3em;
    padding: 1em;
    @include for-phone-only {
        display: block;
    }
    @include for-tablet-portrait-up {
        display: block;
    }
}

.cohort img {
    width: 8em;
    border-radius: 10em;
    border: 1px solid $primary-white;
    @include for-phone-only {
        display: block;
        margin: auto;
        width: 7em;
    }
    @include for-tablet-portrait-up {
        display: block;
        margin: auto;
    }
}

.cohortLeft {
    float: left;
    @include for-phone-only {
        float: left;
    }
    @include for-tablet-portrait-up {
        float: left;
    }
}

.cohortRight {
    float: right;
    padding-top: 1em;
    font-size: 1.6em;
    @include for-phone-only {
        float: right;
        font-size: 1.3em;
    }
    @include for-tablet-portrait-up {
        float: right;
    }
}

.cohortRight p {
    @include for-phone-only {
        text-align: center;
    }
    @include for-tablet-portrait-up {
        text-align: center;
    }
}

.cohortName {
    color: $primary-black;
    font-size: 1.2em;
}

.exampleSection {
	font-size: 1.2em;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.card {
		border: 4px solid $primary-teal;
		border-radius: 3em;
		display: flex;
		flex-flow: column;
		float: left;
		padding: 0 1em;
		margin: 0 auto;
		width: 100%;
		@include for-tablet-portrait-up {
        	width: 25%;
    	}
	}
	.card-image {
		align-self: flex-end;
		margin: auto;
		padding: 12px;
	}
	img {
		max-width: 200px;
		max-height: 150px;
	}
	.card-content {
		text-align: justify;
	}
}


.joinSection {
	font-size: 1.2em;
	button {
		background: $primary-teal;
		display: block;
		margin: 1em auto 2em auto;
	}
}


footer {
	background: $footer-blue;
	color: $primary-white;
	padding: 2em 0 1em 0;
}
footer p {
	font-size: 1.2em;
	line-height: 2em;
}

/* the classes below extend preset CSS that is included in materialize. extend is one of the things you can do with SCSS. if you do not understand this, please see the SCSS tutorial linked in our chat, lookup documentation, and ask :)   */
.blueBackground {
    @extend .light-blue, .darken-2;
    color: $primary-white;
}

.whiteBackground {
    @extend .grey, .lighten-4;
}

.greenBackground {
    @extend .teal, .accent-4;
}
