$primary-white-1: #F5F5F5;
$primary-blue-1: #0288D1;
$primary-green-1: #00BFA5;
$primary-red-1: #E94F37;
$primary-black-1: #393E41;

a,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: $primary-white-1;
}

.badge,
.subtitle {
    color: $primary-white-1;
    background-color: $primary-green-1;
    text-align: center;
}

.subtitle {
    font-style: italic;
    display: inline;
    padding: 0.2em 1em;
    // margin-left: 8em;
    // margin-right: 7.5em;
    // margin-top: 3em;
    // float: right;
    z-index: 0;
    position: absolute;
    top: 2.5em;
    left: 8.5em;
}

.badge {
    border-radius: 50%;
    height: 4.6em;
    width: 4.6em;
    margin-bottom: -1.5em;
    margin-top: 0.4em;
}

.badge span {
    height: 4.6em;
    display: inline-block;
    vertical-align: middle;
}

.badge h1 {
    display: inline-block;
    vertical-align: middle;
}

.header-text {
    color: $primary-white-1;
    background-color: $primary-blue-1;
    font-size: 1.1em;
    margin: 1em 0;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 1.4em;
}
